page-home {
}

ion-content {
	background: url(https://medialoot.com/preview/atmosphere-app-backgrounds/img/iphone-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.toolbar-background {
  background-color: #7d6884;
}
.titleicon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:left;
    border-radius:50px;

}